@import url('../css/fonts.css');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    color: #BDC3C7;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto regular', sans-serif;
    line-height: 1.4;
    font-size: 14px;
    color: #BDC3C7;
    background-color: #191919;
}

.wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.container {
    padding: 0 10px;
    max-width: 1440px;
    margin: auto;
}

header.header {
    background-color: #252525;
}

.header__content--top {
    text-align: center;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    margin-bottom: 25px;
}

.contacts__item {
    width: 15%;
}

.contacts__item--link {
    display: block;
    padding: 0 15px;
    outline: none;
    text-align: center;
}

.contacts__item--link img {
    display: inline-block;
    width: 100%;
}

form.form__search {
    max-width: 50%;
    margin: auto;
}

.form__search .input {
    background-color: transparent;
    border: none;
    color: #737373;
    line-height: 1;
    outline: none;
    font-size: 12px;
    width: 100%;
}

.input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.logo {
    text-align: center;
    padding: 30px 0;
    font-size: 0;
}

.logo img {
    width: 50%;
}

.header__content--bottom {
    margin-top: -20px;
    background-color: #252525;
    position: relative;
    transition: .2s;
}

.header__content--bottom.show {
    margin-top: 0;
}

.menu {
    justify-content: space-around;
    position: relative;
    display: flex;
    padding: 15px 0;
    font-size: 0;
}

.menu::before {
    position: absolute;
    display: block;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #303030;
    top: 0;
    left: 0;
}

.menu__item {
    font-size: 4vw;
}

.menu__item--link {
    padding: 7px 10px;
    display: block;
    cursor: pointer;
    border-radius: 7px;
    transition: .1s;
}

.menu__item--link:hover {
    background-color: #000;
}

main.main {
    position: relative;
    background-image: url('../img/index_bg.jpg');
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main__content {
    align-items: center;
    display: flex;
    flex: auto;
}

.button__list {
    display: flex;
    justify-content: center;

}

.button__list a {
    background-color: #000;
    border: none;
    color: #bfbfbf;
    padding: 10px 10px 10px 35px;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'SFUIDisplay-Heavy', sans-serif;
    text-transform: uppercase;
    position: relative;
}

.button__list a::before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    width: 17px;
    height: 17px;
    background-image: url(../img/icons/icon_case.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn__keys {
    margin-right: 10px;
}

a.btn__coop::before{
    background-image: url(../img/icons/icon_order.svg);
}

main .main__footer {
    background-color: transparent;
    text-align: center;
    border-top: 2px solid #737373;
    padding: 15px 0;
    font-size: 11px;
    font-family: 'Roboto medium', sans-serif;
}

.main__index {
    flex: auto;
    display: flex;
    justify-content: center;

}

h1.title {
    font-family: 'SFUIDisplay-Heavy', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-size: 8vw;
    line-height: 1;
    margin-bottom: 15px;
}

p.subtitle {
    letter-spacing: 1px;
    font-size: 3.5vw;
    line-height: 1;
    margin-bottom: 40px;
    font-family: 'SFUIDisplay-Thin', sans-serif;
}

footer.footer {
    background-color: #252525;
}

.main__footer--link {
    display: block;
    width: 135px;
    text-align: left;
    margin: auto;
    position: relative;
    padding-left: 26px;
}

.main__footer--link.footer__map {
    width: auto;
    padding-left: 0;
    text-align: center;
    display: inline-block;
}

.main__footer--link::before {
    display: block;
    position: absolute;
    content: '';
    top: 2px;
    left: 0px;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    background-image: url(../img/icons/icon_call-light.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.main__footer--link:nth-child(2)::before {
    background-image: url(../img/icons/icon_email-light.svg);
}

.main__footer--link.footer__map::before {
    background-image: url(../img/icons/icon_adress.svg);
    left: -20px;
    bottom: inherit;
}

.main__footer--part:nth-child(1),
.main__footer--part:nth-child(2) {
    margin-bottom: 20px;
    position: relative;
}


.main__footer--part:nth-child(1)::after,
.main__footer--part:nth-child(2)::after {
    position: absolute;
    content: '';
    display: block;
    height: 2px;
    background-color: #737373;
    width: 200px;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}

.svg{
    position: absolute;
    top: 0;
    left: 0;
}