@media (max-width: 767px) {
  .md__hidden{
    display: none;
  }

  .main__cases.index__cases{
    display: block;
  }
}
@media (min-width: 768px) {

  .body.body__rangers{
    background-position: 50% 0;
  }

  .rangers__section{
    padding: 50px 0 0;
  }

  .text__hidden{
    display: inline-block;
  }

  .md__hidden{
    display: block;
  }
  
  .logo{
    padding: 40px 0;
  }

  .footer__top{
    border-bottom: 2px solid #303030;
    padding-bottom: 25px;
  }

  .footer__top .menu__item{
    font-size: 14px;
  }

  .footer__top .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__top .logo{
    display: inline-flex;
    padding: 0;
    max-width: 170px;
    text-align: left;
    border-right: 2px solid #303030;
  }

  .footer__top .logo img{
    width: 60%;
  }

  .footer__top .menu{
    display: inline-flex;
    padding-left: 45px;
  }

  .footer__top .menu::before{
    display: none;
  }

  .contacts{
    margin-bottom: 40px;
  }

	.contacts__item--link{
    padding: 0 40px;
  }

  .form__search .input{
    font-size: 16px;
  }

  .menu__item{
    font-size: 24px;
  }

  .menu__item--link {
    padding: 10px 20px;
  }

  main .main__footer{
    font-size: 11px;
    padding: 20px 0;
    display: block;
  }

  .main__footer .container{
    display: flex;
    justify-content: center;
    align-items: flex-start
  }

  .main__footer--part{
    text-align: left;
    padding: 0 15px;
  }

  .footer__bottom .main__footer--link, 
  .footer__bottom .main__footer--part{
    color: #737373;
  }

  .main__footer--part:nth-child(3), 
  .main__footer--part:nth-child(4) {
    margin-bottom: 0px;
  }

  .main__footer--link:nth-child(1):hover::before{
    background-image: url(../img/icons/icon_call-light.svg)
  }

  .main__footer--part .logo{
    padding: 0;
    margin: 0;
  }

  .main__footer--part:nth-child(1),
  .main__footer--part:nth-child(2){
      margin-bottom: 0px;
      padding-right: 15px;
  }

  .main__footer--part:nth-child(3){
    order: 3;
  }

  .main__footer--part:nth-child(4){
    order: 4;
  }

  .main__footer--part:nth-child(1)::after,
  .main__footer--part:nth-child(2)::after{
      display: none;
  }

  .main__footer--link{
    width: 135px;
    padding-left: 22px;
  }

  .main__footer--link::before{
    background-image: url(../img/icons/icon_call.svg);
  }

  .main__footer--link.footer__map::before{
    width: 12px;
    height: 12px;
    background-image: url(../img/icons/icon_adress-grey.svg)
  }

  .main__footer--link.footer__map:hover::before{
    background-image: url(../img/icons/icon_adress.svg)
  }

  .main__footer--link.footer__map{
    text-align: left;
    padding-left: 15px;
  }

  .main__footer--link.footer__map::before{
    left: -5px;
  }

  .btn__keys{
    margin-right: 55px;
  }

  .button__list a{
    min-width: 136px;
  }

  .button__list a::before{
    left: 25px;
  }

  .form__field .input{
    padding: 20px 20px 20px 75px;
  }

  .submit{
    padding: 20px 45px;
  }

  .form__field::before{
    width: 50px;
    background-size: 40%;
  }

  .service__item {
    width: 45%;
  }

  .service__item--list-item{
    font-size: 14px;
  }

  .service__item:last-child {
    margin-left: 10%;
  }

  .footer__bottom .container{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .main__footer--part:nth-child(1) {
    display: flex;
  }

  .main__footer--part:nth-child(3)::after, 
  .main__footer--part:nth-child(4)::after{
    display: none;
  }

  .main__footer--part:nth-child(2){
    order: 2;
  }

  .mobile__map{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
  }

  .ppoj__list--item{
    font-size: 24px;
  }

  .ppoj__top.ppoj__block--opinion .container::after{
    left: 60%;
  }

  .ppoj__top.ppoj__block--consult .container::after{
    right: 60%;
  }

  .ppoj__result--content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .ppoj__result--youtube{
    margin-bottom: 0;
  }

  .ppoj__result--content>div{
    width: 48%;
    text-align: left;
  }
  .ppoj__block--link, 
  .ppoj__block--link:hover{
    margin-right: 30px;
    font-size: 16px;
    padding-right: 45px;
  }

  .case__slider--item {
    padding: 0 45px;
  }

  .case__slider .slick-prev, 
  .case__slider .slick-next,
  .case__slider .slick-prev:before, 
  .case__slider .slick-next:before{
    width: 30px;
    height: 30px;
  }

  .target__list{
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
    font-size: 18px;
  }

  .target__item{
    width: 30%;
    margin-bottom: 0;
  }

  .borders{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
  }

  .borders span{
    display: block;
    width: 34%;
    height: 80px;
    position: relative;
  }

  .borders span::after{
    display: block;
    position: absolute;
    content: '';
    border-radius: 50%;
    border-color: #fff;
    border-style: solid;
    background-color: #ec6408;
    overflow: hidden;
    z-index: 1;
  }

  .borders span::before{
    display: block;
    position: absolute;
    content: '';
    border-radius: 50%;
    border-color: #fff;
    border-style: solid;
    background-color: #ec6408;
    overflow: hidden;
    z-index: 1;
  }

  .geroi__docs .borders span::before,
  .geroi__docs .borders span::after{
    background-color: #fff;
  }

  .borders span:nth-child(1){
    border-right: 2px dashed #fff;  
    border-bottom: 2px dashed #fff; 
    height: 100px; 
  }

  .borders span:nth-child(1)::after{
    right: -16px;
    top: -14px;
    border-width: 8px;
    width: 30px; 
    height: 30px;
  }

  .borders span:nth-child(1)::before{
    left: -9px;
    bottom: -11px;
    width: 20px; 
    height: 20px;
    border-width: 3px;
  }

  .borders span:nth-child(2)::after{
    right: -9px;
    bottom: -11px;
    border-width: 3px;
    width: 20px; 
    height: 20px;
  }

  .borders span:nth-child(2)::before{
    left: -11px;
    bottom: -11px;
    width: 20px; 
    height: 20px;
    border-width: 3px;
  }

  .borders span:nth-child(2){ 
    border-bottom: 2px dashed #fff;  
    height: 100px;
  }

  .borders span:nth-child(3){ 
    border-right: 2px dashed #fff;  
    border-left: 2px dashed #fff;  
  }

  .borders span:nth-child(3)::after{
    right: -15px;
    bottom: -15px;
    border-width: 8px;
    width: 30px; 
    height: 30px;
  }

  .borders span:nth-child(3)::before{
    left: -15px;
    bottom: -15px;
    border-width: 8px;
    width: 30px; 
    height: 30px;
  }

  .borders span:nth-child(4){ 
    border-right: 2px dashed #fff;
  }

  .borders span:nth-child(4)::after{
    right: -15px;
    bottom: -15px;
    border-width: 8px;
    width: 30px; 
    height: 30px;
  }

  .borders span:nth-child(4)::before{
    display: none;
  }

  .azbuka__tv{
    padding: 100px 0;
  }

  .azbuka__tv .container{
    align-items: center;
  }

  .tv__list{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    margin-bottom: 50px;  
  }

  .tv__item--pic{
    width: 35%;
  }

  .tv__item--text{
    width: 65%;
    padding-left: 70px;
    font-size: 16px;
  }

  .tv__item--text p{
    margin-bottom: 50px;
  }

  .tv__note{
    text-align: center;
    font-size: 16px;
  }

  .body.body__azbuka::after{
    background: #ec6408 url(../img/azbuka_bg.jpg);;
    background: -moz-linear-gradient(top, rgba(33, 33, 33, 0.5) 0%, #ec6408 33%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0.5) 0%, #ec6408 12%,#ec6408 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, 0.5) 0%, #ec6408 12%, #ec6408 100%);
  }

  .body.body__geroi::after {
    background: #ec6408 url(../img/azbuka_bg.jpg);
    background: -moz-linear-gradient(top, rgba(33, 33, 33, 0.4) 0%, #217DDA 33%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0.4) 0%, #217DDA 6%,#217DDA 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, 0.4) 0%, #217DDA 6%, #217DDA 100%);
  }

  .challenge__pic{
    width: 240px;
    height: 240px;
  }

  .challenge__item{
    padding: 35px 20px 75; 
  }

  .challenge__item::after{
    width: 70px;
    height: 70px;
    bottom: -35px;
  }

  .geroi__iseland{
    padding: 80px 0;
  }

  .case__big--top{
    min-height: 300px;
    justify-content: flex-end;
  }

  .title.case__big--top{
    font-size: 40px;
    margin-bottom: 30px;
  }

  .case__big--stat{
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .stat__item{
    width: 30%;
    margin-bottom: 0;
  }

  .stat__item.case__big--members{
    padding-top: 86px;
  }

  .stat__item.case__big--school{
    padding-top: 86px;
  }

  .case__big--school::after, 
  .case__big--members::after{
    bottom: 65%;
    width: 65px;
    height: 65px;
  }

  .case__row--top{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .case__row--top:nth-child(1) .case__slider--item,
  .case__row--top:nth-child(1) .case__slider--item{
    width: 32%;
  }

  .case__row--top:nth-child(1) .case__slider--item{
    margin-right: 2%;
  }

  .case__row--top:nth-child(1) .case__slider--item:last-child{
    margin-right: 0%;
  }

  .case__row--top:nth-child(1) .case__slider--item:nth-child(3){
    order: 2;
  }

  .case__row--top:nth-child(2) .case__slider--item{
    width: 49%;
  }

  .case__row--top:nth-child(2) .case__slider--item:nth-child(1){
    margin-right: 2%;
  }

  .case__row--top:nth-child(3) .case__slider--item:nth-child(1){
    width: 100%;
  }

  .case__row--top:nth-child(3) .case__slider--item:nth-child(2),
  .case__row--top:nth-child(3) .case__slider--item:nth-child(3){
    width: 48%;
  }

  .case__row--top:nth-child(3) .case__slider--item:nth-child(2){
    margin-right: 4%;
  }

  .case__slider--item.case__item--prostatilen .case__content{
    display: flex;
    align-items: flex-end;
    text-align: right;
    padding-left: 30%;
  }

  .team__one{
    width: 50%;
  }

  .main__content .subtitle{
    width: 70%;
    margin: 0 auto 70px;
  }

  .title.geroi__title{
    font-size: 28px;
  }

  .geroi__iseland .container{
    padding-bottom: 350px;
  }

  .geroi__block.geroi__block--bottom .container{
    padding-right: 20%;
  }

  .geroi__block--bottom::after{
    background-size: auto 80%;
    background-position: 75% 95%;
  }

  .geroi__docs .container{
    padding: 200px 10px 50px;
  }

  .geroi__docs .title{
    font-size: 30px;
  }

  .about__title--item{
    padding: 15px 10px 40px 15px;
    font-size: 24px;
  }

  .about__text{
    font-size: 16px;
    padding-top: 30px;
  }

  .geroi__made h2.title{
    font-size: 36px;
  }

  .geroi__details{
    flex-direction: row;
  }

  .case__big--title{
    padding-left: 20px;
    padding-right: 45%;
  }

  .case__item.case__item--small{
    width: 32%;
  }

  .case__item--small .case__top{
    min-height: 233px;
    justify-content: flex-end;
  }

  .case__item.case__item--big{
    width: 66%;
  }

  .case__item--big .case__top{
    min-height: 369px;
    justify-content: flex-end;
  }

  .case__item.case__item--big .case__content{
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 16px;
    left: 20px;
    width: 60%;
    align-items: flex-start;
    text-align: left;
    color: #fff;
  }

  .case__content{
    display: flex;
    justify-content: flex-start;
    padding: 30px 20px;
    flex-direction: column;
    text-align: center;
  }

  .case__item.case__item--azbuka .case__content,
  .case__item.case__item--vystavka .case__content{
    padding-bottom: 0px;
  }

  .case__row--top:nth-child(2)>div,
  .case__row--top:nth-child(5)>div{
    width: 49%;
  }

  .case__row--top:nth-child(4)>div:nth-child(1),
  .case__row--top:nth-child(6)>div:nth-child(1){
    width: 66%;
  }

  .case__row--top:nth-child(4)>div:nth-child(2){
    width: 32%;
  }

  .button__list{
    justify-content: flex-start;
  }

  .body.body__ppoj::after {
    background: #ec6408 url(../img/azbuka_bg.jpg);
    background: -moz-linear-gradient(top, rgba(33, 33, 33, .5) 0%, rgba(222, 194,148, 1) 12%, rgba(222, 194,148, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, .5) 0%, rgba(222, 194,148, 1) 12%, rgba(222, 194,148, 1) 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, .5) 0%, rgba(222, 194,148, 1) 12%, rgba(222, 194,148, 1) 100%);
  }

  .stats__item{
    width: 34%;
    font-size: 18px;
  }

  .ppoj__top.ppoj__flashmob .container::after{
    right: 50%;
  }

  .rshf__timeline--0 .timeline{
    position: absolute;
    display: block;
    width: 0;
    height: 100%;
    border: 1px dashed #0A63AF;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  .rshf__timeline--0 .timeline:before{
    display: block;
    position: absolute;
    content: '';
    top: -14px;
    left: -14px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #0A63AF;
    z-index: 1;
  }

  .rshf__timeline--0{
    padding-top: 130px;
  }

  .rshf__timeline--0 .rshf__timeline--title{
    width: 50%;
    text-align: left;
    padding-left: 40px;
    position: relative;
  }

  .rshf__timeline--0 .rshf__timeline--title::before{
    display: block;
    position: absolute;
    content: '';
    top: 10px;
    left: -9px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #0A63AF;
    z-index: 1;
  }

  .rshf__timeline--1{
    text-align: justify;
    width: 100%;
  }

  .rshf__timeline--author,
  .rshf__timeline--quote{
    width: 46%;
    text-align: right;
    margin-right: 8%;
  }

  .rshf__timeline--author{
    text-align: left;
    margin-right: 0;
    padding-top: 170px;
  }

  .rshf__timeline--author::before{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: auto;
    left: 0;
    width: 157px;
    height: 157px;
  }

  .rshf__timeline--1 .timeline {
    position: absolute;
    display: block;
    width: 0;
    height: 100%;
    border: 1px dashed #0A63AF;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  .rshf__timeline--quote{
    padding: 40px;
  }

  .rshf__timeline--1{
    flex-direction: row;
  }

  .rshf__section:nth-child(2) .timeline,
  .rshf__section:nth-child(3) .timeline{
    position: absolute;
    display: block;
    width: 0;
    height: 100%;
    border: 1px dashed #0A63AF;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  .rshf__section:nth-child(3) .timeline{
    border: 1px dashed #fff;
  }

  .rshf__timeline--2,
  .rshf__timeline--4{
    width: 50%;
    text-align: right;
    padding-right: 50px;
    position: relative;
  }

  .rshf__timeline--2::after,
  .rshf__timeline--3::after,
  .rshf__timeline--4::after{
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    right: -9px;
    width: 18px;
    height: 18px;
    background-color: #0A63AF;
    border-radius: 50%;
  }

  .rshf__timeline--3::after{
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .rshf__section:nth-child(2) .rshf__timeline{
    margin-bottom: 100px;
  }

  .rshf__timeline--3{
    width: 50%;
    padding-right: 50px;
  }

  .rshf__timeline--3 .timeline__inner{
    width: 100%;
  }

  .rshf__timeline--3 .timeline__inner p{
    text-align: right;
    padding: 30px;
  }

  .rshf__section:nth-child(2) .rshf__timeline--4{
    margin-bottom: 0;
  }

  .rshf__timeline--2::before{
    display: block;
    position: absolute;
    content: '';
    top: 50px;
    left: 110%;
    right: auto;
    height: 650px;
    background-position: 0 0;
    opacity: 1;
  }

  .rshf__timeline--6,
  .rshf__timeline--5,
  .rshf__timeline--8{
    align-items: flex-end;
  }

  .rshf__timeline--5 .rshf__timeline--title,
  .rshf__timeline--6 .rshf__timeline--inner,
  .rshf__timeline--8 .rshf__timeline--inner{
    width: 50%;
    padding-left: 50px;
    text-align: left;
  }

  .rshf__timeline--7 .rshf__timeline--inner{
    width: 50%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .rshf__timeline--7 .rshf__timeline--inner p{
    text-align: right;
  }

  .rshf__timeline--7::before {
    top: auto;
    bottom: 100%;
    left: auto;
    right: 50%;
    width: 600px;
    height: 600px;
    background-position: 0% 100%;
    opacity: 1;
    z-index: 0;
  }

  .rshf__how .rshf__timeline p {
    margin-bottom: 50px;
  }

  .rshf__how .rshf__timeline--7 .rshf__timeline--title::before {
    left: -60px;
    right: auto;
  }

  .tabs{
    justify-content: center;
  }

  .tabs li a{
    padding: 20px;
  }

  .tabs{
    margin-bottom: 50px;
  }

  .tab__image{
    height: 400px;
  }

  .tabgroup{
    min-height: 750px;
  }

  .rshf__result h2{
    margin-bottom: 50px;
  }

  .body.body__rshf::after{
    background: -moz-linear-gradient(top, rgba(33, 33, 33, .5) 0%, rgba(255, 255,255, 1) 5%, rgba(255, 255,255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, .5) 0%, rgba(255, 255,255, 1) 5%, rgba(255, 255,255, 1) 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, .5) 0%, rgba(255, 255,255, 1) 5%, rgba(255, 255,255, 1) 100%);
  }

  .citovir__advantage{
    padding: 50px 50px 50px 200px;
    margin-top: 0;
    font-size: 18px;
  }

  .citovir__advantage::before{
    right: auto;
    left: 0px;
    top: 0;
    bottom: 0;
  }

  .tools__item{
    width: 33%;
  }

  .tasks .item{
    padding: 35px 50px;
    font-size: 20px;
  }

  .rights{
    display: block;
  }

  .main__cases{
    display: none;
  }

  main.main{
    padding: inherit;
    min-height: auto;
  }

  .hidden__menu,
  .bar{
    display: none;
  }

  .case__content p{
    display: block;
  }

  .subtitle.case__big--bottom{
    display: block;
  }

  .auditory{
    background: #ea9e40;
    background: -moz-linear-gradient(left, #ea9e40 0%, #ea9e40 50%, #e58221 50%, #e58221 50%, #e58221 100%); 
    background: -webkit-linear-gradient(left, #ea9e40 0%,#ea9e40 50%,#e58221 50%,#e58221 50%,#e58221 100%); 
    background: linear-gradient(to right, #ea9e40 0%,#ea9e40 50%,#e58221 50%,#e58221 50%,#e58221 100%); 
  }

  .auditory .container{
    flex-direction: row;
  }

  .auditory__part{
    width: 50%;
    padding: 70px;
  }

  .rangers__auditory{
    background-color: #A3a3a3;
    font-size: 0;
  }

  .rangers__auditory .auditory__part .title{
    padding: 60px 10px 20px;
    font-size: 24px;
  }

  .rangers__auditory .auditory__part{
    width: 100%;
  }

  .rangers__auditory .auditory__text{
    text-align: center;
    background-color: #3A3A3C;
    color: #fff;
    font-size: 18px;
    padding: 0 10px 60px;
  }

  .campaign{
    padding: 100px 0;
  }

  .campaign h2{
    font-size: 40px;
  }

  .campaign .item{
    font-size: 18px;
    margin-bottom: 50px;
  }

  .campaign__inner{
    position: relative;
  }

  .campaign__inner::after{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 0px;
    height: 100%;
    border-left: 1px dashed #1D70B7;
    border-right: 1px dashed #1D70B7;
  }

  .prostatilen__slider::before,
  .campaign .slider__campaign::before,
  .campaign .slider__citovir::before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 25%;
    height: 100%;
    z-index: 1;
    background: #ecf0f1; 
    background: -moz-linear-gradient(left, #ecf0f1 0%, transparent 100%, transparent 100%);
    background: -webkit-linear-gradient(left, #ecf0f1 0%, transparent 100%, transparent 100%); 
    background: linear-gradient(to right, #ecf0f1 0%, transparent 100%, transparent 100%);
  }

  .prostatilen__slider::after,
  .campaign .slider__campaign::after,
  .campaign .slider__citovir::after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 25%;
    height: 100%;
    z-index: 1;
    background: #ecf0f1; 
    background: -moz-linear-gradient(left, transparent 0%, #ecf0f1 100%, #ecf0f1 100%);
    background: -webkit-linear-gradient(left, transparent 0%, #ecf0f1 100%, #ecf0f1 100%); 
    background: linear-gradient(to right, transparent 0%, #ecf0f1 100%, #ecf0f1 100%);
  }

  .campaign__inner>.item{
    display: flex;
  }

  .campaign__inner .item:nth-child(1){
    justify-content: flex-end;
  }

  .campaign__inner .item .item__inner{
    width: 50%;
    position: relative;
  }

  .campaign__inner .item .item__inner::after{
    display: block;
    position: absolute;
    content: '';
    top: 55px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 5px solid #1D70B7;
    background-color: #ecf0f1;
    z-index: 2;
  }

  .campaign__inner .item:nth-child(2) .item__inner::after{
    top: 5px;
    left: auto;
    right: -8px;
  }

  .campaign__inner>.item:nth-child(1) .item__inner{
    padding-left: 20px;
  }

  .campaign__inner .item:nth-child(2) .item__inner{
    padding-right: 20px;
    text-align: right;
  }

  .auditory h2 {
    font-size: 24px;
  }

  .auditory p {
    font-size: 18px;
  }

  .pic__block{
    display: none;
  }

  .prostatilen__block p{
    padding-left: 150px;
  }

  .prostatilen__block p::before{
      display: block;
      position: absolute;
      content: '';
      top: auto;
      bottom: -50px;
      margin: inherit;
  }

  .prostatilen__block{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
  }

  .body__prostatilen .stats__item:nth-child(1)::before{
      background-image: url(../img/icons/icon_prostatilen-5.svg);
  }

  .body__prostatilen .stats__item:nth-child(2)::before{
      background-image: url(../img/icons/icon_prostatilen-6.svg);
  }

  .body__prostatilen .stats__item:nth-child(3)::before{
      background-image: url(../img/icons/icon_prostatilen-7.svg);
  }

  .body__prostatilen .stats__item:nth-child(4)::before{
      background-image: url(../img/icons/icon_prostatilen-8.svg);
  }

  .body__prostatilen .stats__item::before{
    border: 1px solid #fff;
  }

  .prostatilen__specials .container{
    display: flex;
  }

  .prostatilen__specials .pic{
    order: 1;
    align-self: flex-end;
  }

  .prostatilen__specials .content{
    order: 2;
    padding-bottom: 80px;
  }

  .special__list .item{
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid #1D70B7;
    background-color: #ebeff8;
  }

  .special__list .item:hover{
    background-color: #1D70B7;
    color: #fff;
  }

  .prostatilen__specials .title{
    font-size: 40px;
    text-align: left;
  }

  .prostatilen__auditory{
    display: flex;
    justify-content: center;
    background: rgba(29,111,183,1);
    background: -moz-linear-gradient(left, rgba(29,111,183,1) 0%, rgba(29,111,183,1) 50%, rgba(103,175,230,1) 50%, rgba(103,175,230,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(29,111,183,1)), color-stop(50%, rgba(29,111,183,1)), color-stop(50%, rgba(103,175,230,1)), color-stop(100%, rgba(103,175,230,1)));
    background: -webkit-linear-gradient(left, rgba(29,111,183,1) 0%, rgba(29,111,183,1) 50%, rgba(103,175,230,1) 50%, rgba(103,175,230,1) 100%);
    background: -o-linear-gradient(left, rgba(29,111,183,1) 0%, rgba(29,111,183,1) 50%, rgba(103,175,230,1) 50%, rgba(103,175,230,1) 100%);
    background: -ms-linear-gradient(left, rgba(29,111,183,1) 0%, rgba(29,111,183,1) 50%, rgba(103,175,230,1) 50%, rgba(103,175,230,1) 100%);
    background: linear-gradient(to right, rgba(29,111,183,1) 0%, rgba(29,111,183,1) 50%, rgba(103,175,230,1) 50%, rgba(103,175,230,1) 100%);
  }

  .prostatilen__auditory .auditory__part .title{
    font-size: 24px;
    padding: 60px 20px 40px;
  }

  .prostatilen__auditory .auditory__part .auditory__text{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding: 0 20px 60px;
  }

  .prostatilen__auditory .auditory__part:nth-child(2){
    display: flex;
    flex-direction: column;
    background-color: #67AEE6;
  }

  .prostatilen__auditory .auditory__part:nth-child(1){
    background-color: #1D70B7;
    color: #fff;
    font-weight: 500;
    display: flex;
    flex-direction: column;
  }

  .prostatilen__auditory .auditory__part:nth-child(1) .title{
    background-color: transparent;
  }

  .prostatilen__auditory .auditory__part:nth-child(1) .auditory__text{
    text-align: center;
  }

  .prostatilen__tasks{
    background-image: url(../img/prostatilen_block.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-bottom: 145px;
  }

  .prostatilen__tasks .title{
    background-color: transparent;
    font-size: 40px;
    padding: 70px 0 130px;
  }

  .tasks__content li{
    border-bottom: none;
    font-size: 20px;
    padding: 40px;
    border-radius: 15px;
    position: relative;
    transition: .2s;
  }

  .tasks__content li::after{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    margin: auto;
    right: -37px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fff;
  }

  .tasks__content li:hover{
    background-color: #fff;
    color: #1D70B7;
  }

  .tasks__content li:hover::after{
    width: 27px;
    height: 27px;
    right: -44px;
  }

  .tasks__list{
    width: 50%;
    padding-right: 30px;
    position: relative;
    border-right: 1px dashed #fff;
  }

  .tasks__list::after{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 100%;
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url(../img/prostatilen_pack-3.jpg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .prostatilen__stages .title{
    background-color: transparent;
    padding: 90px 0 50px;
    font-size: 40px;
    color: #1D70B7;
  }

  .prostatilen__stages .campaign__inner{
    border-left: none;
    padding-left: 0;
  }

  .prostatilen__stages .campaign__inner .item .item__inner::after{
    left: -8px;
    top: 0;
  }

  .prostatilen__stages .campaign__inner .item::before{
    display: none;
  }

  .prostatilen__stages .campaign__inner .item.prostatilen__stages--bottom .item__inner::after{
    top: 50px;
  }

  .prostatilen__stages--top .item:nth-child(2) .item__inner::after{
    left: auto;
    right: -8px;
  }

  .prostatilen__stages{
    padding: 0px;
  }

  .prostatilen__stages .item.prostatilen__stages--bottom {
    padding-bottom: 70px;
  }

  .prostatilen__stages .campaign__inner .item {
    padding-bottom: 70px;
  }

  .prostatilen__tools{
    background-color: #67AEE6;
    padding-bottom: 65px;
    position: relative;
  }

  .prostatilen__tools .title{
    background-color: #67AEE6;
    padding: 140px 0 110px; 
    font-size: 40px;
  }

  .prostatilen__tools .tools__list{
    flex-direction: row;
  }

  .prostatilen__tools .tool__hidden{
    display: block;
  }

  .prostatilen__tools .container {
    padding: 0 10px;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
  }

  .prostatilen__tools .tool__item{
    width: 33.33%;
    border-bottom: none;
    padding-left: 0;
    padding-right: 30px;
    margin-bottom: 50px;
  }

  .prostatilen__tools .tool__item h3::before{
    background-image: url(../img/icons/icon_prostatilen-9-white.svg);
    left: 0;
    top: -40px;
    width: 64px;
    height: 64px;
  }

  .prostatilen__tools .tool__item:nth-child(2) h3::before{
    background-image: url(../img/icons/icon_prostatilen-10-white.svg);
}

  .prostatilen__tools .tool__item:nth-child(3) h3::before{
      background-image: url(../img/icons/icon_prostatilen-12-white.svg);
  }

  .prostatilen__tools .tool__item:nth-child(4) h3::before{
      background-image: url(../img/icons/icon_prostatilen-11-white.svg);
  }

  .prostatilen__tools .tool__item:nth-child(5) h3::before{
      background-image: url(../img/icons/icon_prostatilen-13-white.svg);
  }

  .prostatilen__tools .tool__item h3::after{
    display: none;
  }

  .prostatilen__tools .tool__item h3{
    padding: 40px 0 30px;
    font-size: 24px;
  }

  .prostatilen__tools .text__hidden {
    display: block;
    margin-top: 20px;
    color: #252525;
    margin-left: 20px;
  }

  .prostatilen__tools .tool__hidden{
    font-size: 16px;
  }

  .case__next{
    display: none;
  }

  .body__prostatilen .cases,
  .body__prostatilen .footer,
  .body__rangers .cases,
  .body__rangers .footer{
      display: block;
  }

  .header.header__case{
    display: block;
  }

  body.body__prostatilen{
    background-position: 50% 0%;
  }

  .ppoj__top{
    padding: 60px 0;
  }

  .jjop__logo{
    max-width: inherit;
  }

  .body.body__rshf {
    background-position: 50% 0%;
  }

  .rshf__section:nth-child(1){
    padding: 30px 0 0;
  }

  body.body__ppoj{
    background-position: 50% 0%;
  }

  .body.body__geroi{
    background-position: 50% 0%;
  }

  .body.body__azbuka{
    background-position: 50% 0%;
  }
  .azbuka__top{
    padding-top: 0;
  }

  .rangers__text{
    background-color: #ecf0f1;
    color: #3A3A3C;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'SFUIDisplay-Heavy', sans-serif;
    padding: 100px 0;
  }

  .body.body__rangers::after {
    background: #ec6408 url(../img/azbuka_bg.jpg);
    background: -moz-linear-gradient(top, rgba(33, 33, 33, 0.5) 0%, #929397 33%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0.5) 0%, #929397 12%,#929397 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, 0.5) 0%, #929397 12%, #929397 100%);
  }

  .rangers__advantages{
    background: #ecf0f1;
  }

  .advantages__inner{
    display: flex;
    flex-direction: row;
  }

  .rangers__advantages .title{
    color: #3A3A3C;
    font-size: 40px;
  }
  .advantages__inner--part{
    align-self: center;
  }

  .advantages__inner--part:first-child{
    order: 2;
  }

  .advantages__inner--part:last-child{
    order: 1;
  }

  .rangers__section{
    padding: 280px 0 0;
  }

  h1.title.rangers__title{
    font-size: 40px;
    margin-bottom: 40px;
  }

  .rangers__list .geroi__item{
    padding-top: 120px;
  }

  .rangers__list .geroi__item:nth-child(1)::before {
    background-image: url(../img/icons/icon_views-rangers.svg);
  }

  .rangers__list .geroi__item:nth-child(2)::before {
    background-image: url(../img/icons/icon_shift.svg);
  }

  .advantages__inner--part .item{
    border: 1px solid #a3a3a3;
    transition: .2s;
    font-size: 18px;
  }

  .advantages__inner--part .item:hover{
    border: 1px solid #929397;
    background-color: #929397;
    color: #fff;
  }

  .body__rangers .prostatilen__tasks .title{
    background-color: transparent;
  }

  .body__rangers .prostatilen__tasks{
    background: linear-gradient(233.25deg, #78797E 15.05%, #98999D 30.36%, #CECFD1 50.16%, #A8A9AC 72.19%, #78797E 86.76%);
  }

  .body__rangers .tasks__list::after{
    background-image: url(../img/prostatilen_candle.png);
  }

  .body__rangers .tasks__content li:hover{
    background-color: #fff;
    color: #252525;
  }

}

@media (max-width: 991px){

  .mobile__hidden{
    display: none;
  }

}

@media (min-width: 992px) {

  .desktop__hidden{
    display: none;
  }

  .container{
    display: flex;
  }

  .logo{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  header .logo>*{
    text-align: left;
  }

  header .logo img{
    max-height: 50%;
    width: 85%;
  }

  .header__content{
    flex: auto;
    padding-top: 100px;
  }

  .header__content--top{
    display: none;
  }

  .header__content--bottom{
    margin-top: 0;
  }

  .contacts{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 60px;
  }

  .contacts__item{
    width: auto;
    line-height: 1.4;
    width: 100%;
  }

  .contacts__item--link{
    padding: 0;
    text-align: left;
    display: flex;
    margin-bottom: 10px;
  }

  .contacts__item--link.item__search{
    margin-bottom: 0;
  }

  .contacts__item--title{
    font-size: 14px;
  }

  .contacts__item--link img{
    width: inherit;
    width: 20px;
    margin-right: 10px;
  }

  main.main.main__conf{
    padding: 50px 0;
}

  .main__content .container,
  .main__conf .container{
    flex-direction: column;
  }

  h1.title{
    font-size: 90px;
    margin-bottom: 90px;
  }

  .main__index .title{
    font-size: 43px;
  }

  main.main{
    background-image: url('../img/index_bg.jpg');
  }

  .contacts__content h1.title{
    font-size: 90px;
  }

  p.subtitle{
    font-size: 24px;
    margin-bottom: 55px;
  }

  form.form__search{
    display: none;
  }

  .form__search .input {
    font-size: 12px;
    border: 2px solid #303030;
    height: 50px;
    width: 380px;
    line-height: 50px;
    padding: 0 35px 0 15px;
    background-image: url(../img/icons/icon_search.svg);
    background-repeat: no-repeat;
    background-size: 5% auto;
    background-position: 95% 50%;
  }

  .form__search--menu .input {
    font-size: 12px;
    border: 2px solid #303030;
    height: 38px;
    width: 240px;
    line-height: 50px;
    padding: 0 35px 0 15px;
    background-image: url(../img/icons/icon_search.svg);
    background-repeat: no-repeat;
    background-size: 5% auto;
    background-position: 95% 50%;
    background-color: transparent;
    outline: none;
    color: #BDC3C7;
  }

  .contacts__item--link img{
    width: inherit;
    width: 20px;
    margin-right: 10px;
  }

  .contacts__item--link.item__search img{
    margin-right: 0;
  }

  .form__search--menu{
    padding-left: 20px;
    display: none;
  }

  .form__search--menu.show{
    display: block;
  }

  .menu{
    justify-content: flex-start;
    padding: 10px 0;
  }

  .menu::before{
    width: 300%;
    left: 0;
  }

  .menu__item{
    font-size: 14px;
    margin-right: 30px;
  }

  .menu__item--link{
    padding: 10px 20px;
  }

  .main__footer--link{
    width: 160px;
    padding-left: 26px;
  }

  .main__footer--part p:hover,
  .main__footer--link:hover{
    color: rgba(255,255,255,1);
  }

  .main__footer--link::before{
    width: 12px;
    height: 12px;
    top: 0;
  }

  main .main__footer{
    font-size: 11px;
  }

  .contact__footer.main__footer--part:nth-child(1), 
  .contact__footer.main__footer--part:nth-child(2){
    padding-right: 0px;
  }

  .main__footer--part:nth-child(1)::after, 
  .main__footer--part:nth-child(2)::after{
    right: 20px;
    height: 58px;
  }

  .service__item {
    width: 28%;
  }

  .service__item:last-child {
    margin-left: 8%;
  }

  .main__services .main__content{
    padding-top: 70px;
  }

  .service__list{
    margin-bottom: 150px;
  }

  footer.footer{
    padding: 40px 0;
  }

  .footer__top{
    border-bottom: 1px solid #303030;
  }

  .footer__top .container{
    color: rgba(255, 255, 255, .7);
  }

  .footer__bottom{
    font-size: 14px;
  }

  .footer__bottom .main__footer--link, 
  .footer__bottom .main__footer--part{
    color: #737373;
    font-size: 13px;
  }

  .main__footer--part{
    padding: 0 25px;
  }

  .main__footer--part:nth-child(1), 
  .main__footer--part:nth-child(2){
    padding-right: 25px;
  }

  .footer__bottom .main__footer--link:hover, 
  .footer__bottom .main__footer--part:hover{
    color: #fff;
  }

  .contact__inner{
    display: flex;
  }

  .contact__block--left{
    width: 45%;
    display: flex;
    padding-right: 100px;
  }

  .contact__block--right{
    width: 55%;
    display: flex;
    align-items: center;
  }

  ymaps{
    left: -20px;
    top: -20px;
  }

  .contact__block--right .circle{
    width: 500px;
    height: 500px;
    filter: grayscale(1);
  }

  .header__case .header__content--top,
  .header__azbuka .header__content--top{
    display: none;
  }

  .header__case .header__content,
  .header__azbuka .header__content{
    padding-top: 100px;
  }

  .ppoj__top{
    padding: 100px 0;
  }

  .ppoj__top.ppoj__block--consult .container{
    padding-left: 30%;
    padding-right: 10px;
  }

  .ppoj__block--opinion .title{
    text-align: left;
  }

  .ppoj__top.ppoj__block--consult {
    text-align: left;
  }

  .ppoj__top.ppoj__block--consult .title,
  .ppoj__top.ppoj__flashmob .title{
    text-align: left;
  }

  .ppoj__top:nth-child(1){
    padding: 200px 0 100px;
  }

  .ppoj__top .container{
    flex-direction: column;
  }

  .ppoj__top:nth-child(1) .container{
    padding: 0 10%;
  }

  .ppoj__top.ppoj__block--right .container{
    padding-left: 10px;
    padding-right: 30%;
  }

  .ppoj__list--item{
    padding: 20px 35px;
  }

  .ppoj__text p{
    margin-bottom: 40px;
  }

  .ppoj__top .container::after{
    opacity: 1;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: inherit;
  }

  .breadcrumbs{
    margin-bottom: 80px;
  }

  .body__citovir .azbuka__digits--item:last-child{
    margin-bottom: 0;
  }

  .breadcrumbs.azbuka__breadcrumbs{
    margin-bottom: 80px;
  }

  h1.title.ppoj__top--title{
    margin-bottom: 50px;
    font-size: 40px;
  }

  .ppoj__link{
    font-size: 24px;
  }
  .ppoj__top--text{
    font-size: 24px;
  }

  .ppoj__top:nth-child(1) .ppoj__top--text{
    font-size: 18px;
  }

  .ppoj__top.ppoj__block--right .container::after,
  .ppoj__top.ppoj__block--consult .container::after{
    opacity: 1;
  }

  .ppoj__block--consult .ppoj__top--text{
    margin-bottom: 45px;
  }

  .ppoj__top.ppoj__block--consult .container::after{
    right: 50%;
    background-position: 100% 100%;
  }

  .ppoj__top.ppoj__block--opinion .container::after{
    bottom: -100px;
    left: 55%;
    background-position: 0% 100%;
  }

  .slider__item {
    padding: 0 20px;
  }

  .slick-slider{
    margin-left: 35%;
  }

  .prostatilen__slider{
    margin-left: 0;
  }

  .ppoj__flashmob .ppoj__text{
    text-align: left;
  }

  .case__table{
    margin-bottom: 50px;
  }

  .ppoj__result--content{
    margin-bottom: 100px;
  }

  .case__slider.slick-slider {
    margin-left: 0%;
  }

  .case__slider.slick-slider {
    margin-left: 0%;
    width: 100%;
  }

  .case__slider .slick-next {
    right: -15px;
  }

  .case__slider .slick-prev {
    left: -15px;
  }

  .case__slider--item {
    padding: 0 30px;
  }

  .slick-prev, 
  .slick-next,
  .slick-prev:before, 
  .slick-next:before{
    width: 40px;
    height: 40px;
  }

  .azbuka__top {
    padding-top: 250px;
  }

  .azbuka__top .container{
    justify-content: center;
    flex-direction: column;
  }

  .azbuka__top .logo{
    justify-content: center;
    padding-right: 0;
    margin-bottom: 30px;
  }

  h1.title.azbuka__title{
    font-size: 40px;
  }

  p.subtitle.azbuka__subtitle{
    font-size: 24px;
    margin-bottom: 80px;
  }

  .azbuka__digits{
    margin-bottom: 100px;
  }

  .azbuka__digits--item{
    padding-top: 120px;
    max-width: 300px;
    margin-bottom: 130px;
  }

  .body__citovir .azbuka__digits--item{
    max-width: inherit;
    width: 34%;
  }

  .azbuka__digits--icon{
    width: 90px;
    height: 90px;
  }

  .azbuka__digits--title{
    font-size: 36px;
    margin-bottom: 30px;
  }

  .azbuka__digits--text{
    font-size: 24px;
  }

  p.title{
    font-size: 40px;
    margin-bottom: 200px;
  }

  .tv__item--pic{
    width: 30%;
  }

  .tv__item--text{
    width: 70%;
  }

  .azbuka__challenge {
    padding: 90px 0;
  }

  .challenge__text{
    margin: 0 auto 90px;
    font-size: 18px;
  }

  .challenge__links{
    margin-bottom: 90px;
  }
  .challenge__text--big{
    font-size: 18px;
  }

  .stat__title{
    font-size: 36px;
  }

  .stat__number{
    font-size: 48px;
  }

  .stat__feature,
  .stat__support--text{
    font-size: 24px;
  }

  /* .case__row--top:nth-child(1) .case__slider--item:nth-child(1),
  .case__row--top:nth-child(1) .case__slider--item:nth-child(3){
    width: 23%;
    order: 1;
  }

  .case__row--top:nth-child(1) .case__slider--item:nth-child(2){
    order: 2;
    width: 48%;
    margin-right: 3%;
  }

  .case__row--top:nth-child(3) .case__slider--item:nth-child(1){
    width: 49%;
    margin-right: 2%;
  }

  .case__row--top:nth-child(3) .case__slider--item:nth-child(2),
  .case__row--top:nth-child(3) .case__slider--item:nth-child(3){
    width: 23.5%;
  }

  .case__row--top:nth-child(3) .case__slider--item:nth-child(2){
    margin-right: 2%;
  } */

  .team__box{
    width: 250px;
  }

  .team__pic{
    height: 300px;
  }

  .partner__item{
    width: 25%;
    padding: 20px 0;
  }

  .title.geroi__title{
    font-size: 36px;
  }

  .geroi__list{
    width: 60%;
  }

  .geroi__item{
    margin-bottom: 70px;
    padding-bottom: 35px;
    padding-top: 125px;
    font-size: 18px;
  }

  .geroi__item::before{
    width: 90px;
    height: 90px;
    border: 1px solid #fff;
  }

  .geroi__block.geroi__iseland{
    padding-top: 150px;
  }

  .geroi__block.geroi__block--bottom{
    text-align: left;
    padding: 125px 0 75px;
  }

  .geroi__link{
    align-self: flex-start;
  }

  .geroi__block--bottom .title{
    margin-bottom: 200px;
    font-size: 45px;
  }

  .geroi__block--bottom::after {
    background-size: auto 60%;
  }

  .geroi__docs .target__item{
    font-size: 18px;
  }

  .geroi__docs .title{
    font-size: 36px;
  }

  .geroi__about{
    display: flex;
    padding: 60px 90px 60px 20px;
  }

  .about__titles{
    display: flex;
    flex-direction: column;
    border-right: 2px dashed #217DDA;
    border-bottom: none;
    padding-bottom: 0;
    justify-content: flex-start;
    padding-right: 35px;
    width: auto;
  }

  .about__title--item{
    padding: 30px 20px 75px;
    width: 250px;
  }

  .about__title--item::after{
    top: 0;
    bottom: 0;
    margin: auto;
    right: -45px;
    left: inherit;
  }

  .about__title--item.active::after{
    right: -50px;
    bottom: 0;
  }

  .about__text{
    padding-top: 0;
    padding: 0 40px;
    overflow-x: hidden;
    max-height: 420px;
    transition: .2s;
    position: relative;
  }

  .about__text::after{
    position: sticky;
    content: '';
    display: block;
    bottom: 0;
    width: 100%;
    height: 50%;
    left: 0;
    background: #252525;
    background: -moz-linear-gradient(top, rgba(37,37,37,0) 0%, #fff 100%); 
    background: -webkit-linear-gradient(top, rgba(37,37,37,0) 0%,#fff 100%); 
    background: linear-gradient(to bottom, rgba(37,37,37,0) 0%,#fff 100%); 
  }

  .about__text--item{
    line-height: 1.8;
  }

  .about__text::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  .about__text::-webkit-scrollbar-track {
    background: rgb(155,161,171); 
  }

  /* Handle */
  .about__text::-webkit-scrollbar-thumb {
    background: #4B596F; 
  }

  /* Handle on hover */
  .about__text::-webkit-scrollbar-thumb:hover {
    background: #4B596F; 
  }

  .geroi__made .case__members{
    padding: 18px 20px;
  }

  .geroi__how{
    padding: 90px 0 120px;
    display: flex;
  }

  .geroi__how--title{
    border-bottom: none;
    text-align: left;
    width: 100%;
    font-size: 36px;
    position: relative;
    margin-bottom: 40px;
  }

  .geroi__how .container{
    padding: 0 10px 0 20%;
  }

  .geroi__how--text::before{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    margin: auto;
    right: 102%;
    width: 100%;
    height: 120%;
    background-image: url(../img/hero-boy.png);
    background-position: 80% 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .geroi__how--item{
    position: relative;
    line-height: 1.8;
    margin-bottom: 15px;
  }

  .case__big--top {
    min-height: 350px;
  }

  .geroi__iseland{
    padding: 100px 0 0;
  }

  .main__cases .container{
    flex-direction: column;
  }

  .case__big--title{
    padding-right: 55%;
  }

  .ppoj__title--block{
    padding: 70px 0;
  }
  .stats__item {
      padding: 110px 20px 0;
  }

  .ppoj__top.ppoj__block--opinion .container {
    padding-right: 30%;
    text-align: left;
  }

  .ppoj__block--link::after{
    width: 40px;
    height: 40px;
  }

  .ppoj__top.ppoj__flashmob .container{
    padding: 0 60px 0 50%;
  }

  .ppoj__top.ppoj__flashmob .container::after{
    opacity: 1;
  }

  .geroi__black{
    padding: 100px 0;
  }

  .geroi__made {
    padding: 70px 0;
  }

  .geroi__made h2.title{
    margin-bottom: 70px;
  }

  .video__wrap .video__cover {
    content: '';
    position: absolute;
    display: block;
    width: 102%;
    height: 102%;
    top: -1%;
    left: -1%;
    z-index: 1;
    border-radius: 20px;
    background-image: url(../img/super-geroi-main.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .video__wrap .play {
    content: '';
    position: absolute;
    display: block;
    cursor: pointer;
    background: no-repeat center / contain;
    background-image: url(../img/icons/icon_play.svg);
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    background-color: #217DDA;
    background-size: 50%;
    background-position: 60% 50%;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 2;
  }

  .geroi__about--part:nth-child(1){
    width: 60%;
    margin-right: 2%;
  }

  .geroi__about--part:nth-child(2){
    width: 38%;
  }

  .rshf__timeline--1{
    padding-bottom: 250px;
  }

  .rshf__section:nth-child(2){
    padding: 250px 0 100px;
  }

  .rshf__how{
    padding: 100px 0 250px;
  }

  .tab__content,
  .tab__image{
    width: 49%;
  }

  .tab__content{
    border-right: 1px solid #0A63AF;
    padding-right: 30px;
    padding-left: 50px;
    text-align: right;
  }

  .tabgroup>div{
    display: flex;
    justify-content: space-between;
  }

  .tabgroup h3 {
    font-size: 24px;
  }

  .tabgroup p{
    font-size: 18px;
  }

  .tabgroup {
    min-height: auto;
    margin-bottom: 50px;
  }

  .rshf__result{
    padding: 100px 0 250px;
  }

  .body.body__rshf::after{
    background: -moz-linear-gradient(top, rgba(33, 33, 33, .5) 0%, rgba(255, 255,255, 1) 9%, rgba(255, 255,255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, .5) 0%, rgba(255, 255,255, 1) 9%, rgba(255, 255,255, 1) 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, .5) 0%, rgba(255, 255,255, 1) 9%, rgba(255, 255,255, 1) 100%);
  }

  .rshf__section:nth-child(1) {
    padding: 200px 0 0;
  }

  .citovir__advantage{
    padding: 50px 50px 50px 150px;
    margin-bottom: 70px;
  }

  .citovir__advantage::before{
    right: auto;
    left: -50px;
    top: 0;
    bottom: 0;
  }

  .body.body__citovir::after{
    background: rgba(255, 203, 19);
    background: -moz-linear-gradient(top, rgba(33, 33, 33, 0.5) 0%, rgba(255, 203, 19) 12%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0.5) 0%, rgba(255, 203, 19) 12%,rgba(255, 203, 19) 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, 0.5) 0%, rgba(255, 203, 19) 12%, rgba(255, 203, 19) 100%);
  }

  .team__one{
    width: 33.333%;
  }

  .main__cases{
    display: none;
  }

  .campaign .slider__campaign::before,
  .campaign .slider__citovir::before {
    background: -moz-linear-gradient(left, #ecf0f1 0%, transparent 70%, transparent 100%);
    background: -webkit-linear-gradient(left, #ecf0f1 0%, transparent 70%, transparent 100%); 
    background: linear-gradient(to right, #ecf0f1 0%, transparent 70%, transparent 100%);
  }

  .campaign .slider__campaign::after,
  .campaign .slider__citovir::after {
    background: -moz-linear-gradient(left, transparent 0%, #ecf0f1 70%, #ecf0f1 100%);
    background: -webkit-linear-gradient(left, transparent 0%, #ecf0f1 70%, #ecf0f1 100%); 
    background: linear-gradient(to right, transparent 0%, #ecf0f1 70%, #ecf0f1 100%);
  }

  .body.body__prostatilen::after {
    background: -moz-linear-gradient(top, rgba(33, 33, 33, .5) 0%, #67AEE6 10%, #67AEE6 100%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, .5) 0%, #67AEE6 10%, #67AEE6 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, .5) 0%, #67AEE6 10%, #67AEE6 100%);
  }

  .main__footer--part .logo img {
    max-height: 32px;
  }

  .body.body__rangers::after {
    background: #ec6408 url(../img/azbuka_bg.jpg);
    background: -moz-linear-gradient(top, rgba(33, 33, 33, 0.5) 0%, #929397 33%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0.5) 0%, #929397 16%,#929397 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, 0.5) 0%, #929397 16%, #929397 100%);
  }

  .rangers__video .video__cover {
    content: '';
    position: absolute;
    display: block;
    width: 102%;
    height: 102%;
    top: -1%;
    left: -1%;
    z-index: 1;
    border-radius: 20px;
    background-image: url(../img/rangers_video.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .rangers__video .play {
    content: '';
    position: absolute;
    display: block;
    cursor: pointer;
    background: no-repeat center / contain;
    background-image: url(../img/icons/icon_play-white.svg);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: none;
    background-size: 50%;
    background-position: 60% 50%;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 2;
  }

}

@media (min-width: 1440px) {

  .main__footer--part:nth-child(1)::after, 
  .main__footer--part:nth-child(2)::after{
    right: 50px;
    height: 58px;
  }

  .service__item {
    width: 30%;
  }

  .service__list{
    padding-left: 0;
  }

  .service__item:last-child {
    margin-left: 5%;
  }

  .main__services .main__content{
    padding-top: 135px;
  }

  .contact__block--right{
    padding-left: 100px;
  }

  .contact__block--right .circle{
    width: 540px;
    height: 540px;
  }

  .ppoj__top .container{
    padding-right: 40%;
  }

  .ppoj__top{
    padding: 150px 0;
  }

  .ppoj__top .container::after{
    background-size: contain;
    height: 150%;
  }

  /* .ppoj__top.ppoj__block--right .container{
    padding-left: 40%;
  } */

  .ppoj__top.ppoj__block--right .container::after{
    right: 50%;
  }

  .ppoj__top.ppoj__block--opinion .container::after{
    height: 175%;
    bottom: -150px;
    left: 50%;
  }

  .slide{
    padding: 30px 20px;
    min-height: 310px;
    width: 250px;
  }

  .flashmob__city{
    font-size: 28px;
  }

  .slick-slider{
    bottom: 0;
  }

  .ppoj__top.ppoj__result .container{
    justify-content: space-between;
    flex-direction: column;
    padding: 0 10px;
  }

  .ppoj__result h1.title.ppoj__top--title{
    margin-right: 20px;
  }

  .ppoj__result--youtube .ppoj__block--soc{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .azbuka__top {
    padding-top: 330px;
  }

  .azbuka__tv {
    padding: 150px 0;
  }

  .body.body__azbuka::after{
    background: #ec6408 url(../img/azbuka_bg.jpg);;
    background: -moz-linear-gradient(top, rgba(33, 33, 33, 0.5) 0%, #ec6408 33%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0.5) 0%, #ec6408 23%,#ec6408 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, 0.5) 0%, #ec6408 23%, #ec6408 100%);
  }

  .title.case__big--top::after{
    height: 250%;
  }

  .subtitle.case__big--bottom{
    padding-right: 25%;
  }

  .team__name{
    font-size: 22px;
    letter-spacing: 1px;
  }

  .team__position{
    font-size: 16px;
  }

  .main__content .subtitle{
    font-size: 24px;
  }

  .team__box{
    width: 300px;
  }

  .team__pic{
    height: 350px;
  }

  .title.geroi__title{
    font-size: 40px;
  }

  .body.body__geroi::after {
    background: #ec6408 url(../img/azbuka_bg.jpg);
    background: -moz-linear-gradient(top, rgba(33, 33, 33, 0.4) 0%, #217DDA 33%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0.4) 0%, #217DDA 12%,#217DDA 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, 0.4) 0%, #217DDA 12%, #217DDA 100%);
  }

  .geroi__block.geroi__iseland{
    padding-top: 400px;
  }

  .geroi__block.geroi__iseland .container{
    padding-bottom: 550px;
  }

  .geroi__docs .container{
    padding: 350px 10px 50px;
  }

  .geroi__about{
    position: relative;
  }

  .geroi__about::after{
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 95%;
    background-image: url(../img/hero-girl.png);
    background-size: contain;
    background-position: 0 100%;
    background-repeat: no-repeat;
  }

  .main__index .title{
    font-size: 46px;
  }

  main .main__footer {
    padding: 25px 0;
  }

  .ppoj__top:nth-child(1){
    padding: 400px 0 100px;
  }

  .ppoj__top.ppoj__block--consult .container{
    padding-left: 30%;
  }

  .ppoj__top.ppoj__flashmob .container {
    padding: 0 10px 0 30%;
  }

  .geroi__black{
    padding: 150px 0;
  }

  .geroi__about--part-item{
    font-size: 20px;
  }

  .tools__item{
    padding-right: 60px;
    margin-bottom: 80px;
  }

  .body.body__citovir::after{
    background: rgba(255, 203, 19);
    background: -moz-linear-gradient(top, rgba(33, 33, 33, 0.5) 0%, rgba(255, 203, 19) 20%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0.5) 0%, rgba(255, 203, 19) 20%,rgba(255, 203, 19) 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, 0.5) 0%, rgba(255, 203, 19) 20%, rgba(255, 203, 19) 100%);
  }

  .campaign .slider__citovir::before {
    background: -moz-linear-gradient(left, #ecf0f1 0%, #ecf0f1 70%, transparent 100%);
    background: -webkit-linear-gradient(left, #ecf0f1 0%, #ecf0f1 70%, transparent 100%); 
    background: linear-gradient(to right, #ecf0f1 0%, #ecf0f1 70%, transparent 100%);
  }

  .campaign .slider__citovir::after {
    background: -moz-linear-gradient(left, transparent 0%, #ecf0f1 30%, #ecf0f1 100%);
    background: -webkit-linear-gradient(left, transparent 0%, #ecf0f1 30%, #ecf0f1 100%); 
    background: linear-gradient(to right, transparent 0%, #ecf0f1 30%, #ecf0f1 100%);
  }

  .body__prostatilen .stats__item {
    width: 50%;
  }

  .body.body__prostatilen::after {
    background: -moz-linear-gradient(top, rgba(33, 33, 33, .5) 0%, #67AEE6 20%, #67AEE6 100%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, .5) 0%, #67AEE6 20%, #67AEE6 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, .5) 0%, #67AEE6 20%, #67AEE6 100%);
  }

  .body.body__rshf::after {
    background: -moz-linear-gradient(top, rgba(33, 33, 33, .5) 0%, rgba(255, 255,255, 1) 15%, rgba(255, 255,255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, .5) 0%, rgba(255, 255,255, 1) 15%, rgba(255, 255,255, 1) 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, .5) 0%, rgba(255, 255,255, 1) 15%, rgba(255, 255,255, 1) 100%);
  }

  .body.body__rangers::after {
    background: #ec6408 url(../img/azbuka_bg.jpg);
    background: -moz-linear-gradient(top, rgba(33, 33, 33, 0.5) 0%, #929397 33%);
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0.5) 0%, #929397 30%,#929397 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, 0.5) 0%, #929397 30%, #929397 100%);
  }

}

@media (max-height:430px) and (max-width:767px){
  .wrapper{
    display: none;
  }
  .rotate{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #191919;
    position: relative;
    z-index: 1;
  }
}