@media (min-width: 768px) {
  
  .logo{
    padding: 40px 0;
  }

  .contacts{
    margin-bottom: 40px;
  }

	.contacts__item--link{
    padding: 0 40px;
  }

  .form__search .input{
    font-size: 16px;
  }

  .menu__item{
    font-size: 24px;
  }

  main .main__footer{
    font-size: 12px;
    padding: 25px 0;
  }

  .main__footer .container{
    display: flex;
    justify-content: center;
    align-items: flex-start
  }

  .main__footer--part{
    padding-top: 10px;
  }

  .main__footer--part:nth-child(1),
  .main__footer--part:nth-child(2){
      margin-bottom: 0px;
      padding-right: 25px;
  }

  .main__footer--part:nth-child(1)::after,
  .main__footer--part:nth-child(2)::after{
      width: 2px;
      height: 52px;
      bottom: inherit;
      top: 0;
      right: 15px;
      left: auto;
  }

  .main__footer--link{
    width: 135px;
    padding-left: 22px;
  }

  .main__footer--link::before{
    width: 14px;
    height: 14px;
  }

  .main__footer--link.footer__map{
    text-align: left;
    padding-left: 15px;
  }

  .main__footer--link.footer__map::before{
    left: -5px;
  }

  .btn__keys{
    margin-right: 55px;
  }

  .button__list a{
    padding: 20px 25px 20px 52px;
  }

  .button__list a::before{
    left: 25px;
  }

  .form__field .input{
    padding: 20px 20px 20px 75px;
  }

  .submit{
    padding: 20px 45px;
  }

  .form__field::before{
    width: 50px;
    background-size: 40%;
    height: 57px;
  }
}

@media (min-width: 992px) {

  .desktop__hidden{
    display: none;
  }

  .header .container{
    display: flex;
    padding: 0 30px;
  }

  .logo{
    display: flex;
    padding: 0 40px 0 0;
    align-items: center;
  }

  .logo img{
    max-height: 50%;
    width: auto;
  }

  .header__content{
    flex: auto;
    padding-top: 40px;
  }

  .header__content--top{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .header__content--bottom{
    margin-top: 0;
  }

  .contacts{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 60px;
  }

  .contacts__item{
    width: auto;
    line-height: 1.4;
    width: 100%;
  }

  .contacts__item--link{
    padding: 0;
    text-align: left;
    display: flex;
    margin-bottom: 10px;
  }

  .contacts__item--title{
    font-size: 14px;
  }

  .contacts__item--link img{
    width: inherit;
    width: 20px;
    margin-right: 10px;
  }

  h1.title{
    font-size: 100px;
  }

  p.subtitle{
    font-size: 36px;
  }

  form.form__search{
    max-width: inherit;
    margin: inherit;
  }

  .form__search .input {
    font-size: 12px;
    border: 2px solid #303030;
    height: 50px;
    width: 380px;
    line-height: 50px;
    padding: 0 35px 0 15px;
    background-image: url(../img/icons/icon_search.svg);
    background-repeat: no-repeat;
    background-size: 5% auto;
    background-position: 95% 50%;
  }

  .menu{
    justify-content: flex-start;
    padding: 15px 0;
  }

  .menu::before{
    width: 300%;
}

  .menu__item{
    font-size: 14px;
  }

  .menu__item--link{
    padding: 7px 10px;
  }

  .main__footer--link{
    width: 160px;
    padding-left: 26px;
  }

  .main__footer--part p:hover,
  .main__footer--link:hover{
    color: rgba(255,255,255,1);
  }

  .main__footer--link::before{
    width: 16px;
    height: 16px;
    top: 0;
  }

  main .main__footer{
    font-size: 14px;
    transition: 1.5s;
  }
 
  .main__footer--part:nth-child(1), 
  .main__footer--part:nth-child(2){
    padding-right: 40px;
  }

  .main__footer--part:nth-child(1)::after, 
  .main__footer--part:nth-child(2)::after{
    right: 20px;
    height: 58px;
  }

}

@media (orientation:landscape) and (max-width:767px){
  .wrapper{
    display: none;
  }
  .rotate{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
}